body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to bottom right, #0000ff, #add8e6);
    color: #000000;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

h1 {
    color: #120e42;
}

.slider img {
    width: 800px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px 0;
  }

.memes {
    width: 100%;
    height: auto;
    margin: 20px 0;
}

.order-form {
    display: inline-block;
    text-align: left;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    border-radius: 10px;
  }
  
  .order-form input[type="text"],
  .order-form select {
    width: 100%;
    padding: 5px;
    margin: 5px 0 15px;
  }
  
  .order-form input[type="submit"] {
    padding: 8px 20px;
    background-color: lightgray;
    border: none;
    cursor: pointer;
  }
  
  .w3-link {
    display: inline-block;
    margin-top: 30px;
    background-color: orange;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }